.nextButton {
    -fx-background-color: #222222;
    -fx-background-radius: 8;
    -fx-text-fill: white;
}
.nextButton:hover {
    -fx-background-color: #000000;
}
.borderStyles {
    -fx-background-radius: 10;
}
.centeredContent {
    -fx-alignment: center;
}